numpy<2.0
pandas<2.2
scikit-learn<1.4
xgboost
tensorFlow
imbalanced-learn
deepchecks
matplotlib
seaborn
plotly
skimpy
yellowbrick
streamlit
mlflow
optuna
termcolor
colorama
joblib
dataset
